* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Roboto, sans-serif;
  font-size: 16px;
  color: #000;
}

.no-bullets {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
}

a:visited {
  text-decoration: none;
  color: #000;
}

a:hover,
a:focus {
  text-decoration-color: #2196f3;
  color: #2196f3;
  border: none;
}

header {
  background-color: #fff;
  width: 1600px;
  height: 80px;
}

.header-style a {
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  color: #2196f3;
  display: inline-block;
  left: 215px;
  top: 24px;
  width: 145px;
  height: 31px;
  position: absolute;
}

.nav-header {
  margin-top: 32px;
}

#nav-bar {
  left: 453px;
  top: 32px;
  position: absolute;
}

#nav-bar li:first-of-type {
  margin-left: 0;
}

#nav-bar li {
  display: inline-block;
  margin-left: 50px;
  margin-right: 0;
  height: 16px;
}

#contact-header {
  margin-top: 32;
  height: 16px;
  margin-left: 1078px;
  vertical-align: middle;
}

#contact-header li {
  display: inline-block;
  margin-left: 10px;
}

#contact-header li:first-of-type {
  margin-left: 0;
}

.banner-top {
  background-color: #2f303a;
  box-shadow: 0px 2px 4px #2f303a;
  top: 80px;
  width: 1600px;
  height: 600px;
  position: absolute;
}

h2 {
  font-size: 44px;
  color: #fff;
  font-weight: 900;
  padding-top: 200px;
  padding-left: 452px;
  width: 696px;
  height: 120px;
  text-align: center;
}

button {
  background-color: #2196f3;
  font-size: 16px;
  font-family: inherit;
  font-weight: 700;
  text-align: center;
  color: #fff;
  border: 0px;
  border-radius: 4px;
  position: absolute;
  width: 261px;
  height: 50px;
  left: 666px;
  top: 350px;
  
}



