* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Roboto, sans-serif;
  font-size: 16px;
  color: #000;
}

.no-bullets {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
}

a:visited {
  text-decoration: none;
  color: #000;
}

a:hover,
a:focus {
  text-decoration-color: #2196f3;
  color: #2196f3;
  border: none;
}

.page-header {
  background-color: #fff;
  width: 1600px;
  height: 80px;
}

.header-style a {
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  color: #2196f3;
  display: inline-block;
  left: 215px;
  top: 24px;
  width: 145px;
  height: 31px;
  position: absolute;
}

.nav-header {
  margin-top: 32px;
}

#nav-bar {
  font-size: 14px;
  line-height: auto;
  letter-spacing: 2%;
  left: 453px;
  top: 32px;
  position: absolute;
}

#nav-bar li:first-of-type {
  margin-left: 0;
}

#nav-bar li {
  display: inline-block;
  margin-left: 50px;
  margin-right: 0;
  height: 16px;
}

#contact-header {
  font-size: 14px;
  line-height: auto;
  letter-spacing: 2%;
  margin-top: 32;
  height: 16px;
  margin-left: 1078px;
  vertical-align: middle;
}

#contact-header li {
  display: inline-block;
  margin-left: 10px;
}

#contact-header li:first-of-type {
  margin-left: 0;
}

.banner-top {
  background-color: #2f303a;
  box-shadow: 0px 2px 4px #2f303a;
  top: 80px;
  width: 1600px;
  height: 600px;
  position: absolute;
}

section.banner-top > h2 {
  font-size: 44px;
  color: #fff;
  font-weight: 900;
  line-height: 60px;
  letter-spacing: 6%;
  padding-top: 200px;
  padding-left: 452px;
  width: 696px;
  height: 120px;
  text-align: center;
}

.banner-button {
  background-color: #2196f3;
  font-size: 16px;
  font-family: inherit;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 6%;
  text-align: center;
  color: #fff;
  border: 0px;
  border-radius: 4px;
  position: absolute;
  width: 261px;
  height: 50px;
  left: 666px;
  top: 350px;
}

.work-solutions {
  padding-top: 695px;
  margin-left: 215px;
  width: 1170px;
  height: 122px;
  position: relative;
}
section.work-solutions li h2 {
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 3%;
  padding-bottom: 10px;
}

section.work-solutions li p {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 3%;
  line-height: 24px;
}

.work-solutions ul {
  display: flex;
  flex-wrap: nowrap;
  list-style-type: none;
}

.work-solutions li {
  flex: 0 0 270px;
  height: auto;
  padding-left: 30px;
}

.work-solutions li:first-of-type {
  padding-left: 0px;
}

.work-graphics {
  top: 991px;
  left: 215px;
  position:absolute;
  text-align: center;
}

section.work-graphics >  h2 {
    font-size:  36px;
    font-weight: 700;
    line-height: 42px;
    letter-spacing: 3%;
    padding-bottom: 55px;
}

.work-graphics ul {
    display: flex;
  flex-wrap: nowrap;
}

.work-graphics li {
    flex: 0 0 270px;
    height: auto;
    padding-left: 30px;
  }

.team {
    height: 648px;
    width: 1600px;
    background-color: #F5F4FA;
    top: 1510px;
    position: absolute;
}

.team h2 {
    font-size: 36px;
    font-weight: 700;
    text-align: center;
    letter-spacing: 3%;
    padding-top: 94px;
    padding-bottom: 50px;
}

.team h3 {
    font-size: 16px;
    color: #212121;
    padding-top: 30px;
    padding-bottom: 10px;
}

.team p {
    font-size: 16px;
    font-weight: 400;
    color: #757575;
}

.team ul {
    display: flex;
    flex-wrap: no wrap;
    padding-left: 208px;
    text-align: center;
}

.team li {
    flex: 0 0 270px;
    margin-left: 37px;
    height: 368px;
    align-items: center;
    justify-content: space-between;
    background-color: #FFF;
    box-shadow: 2px 2px 10px 2px #00000028;
    border-radius: 0px 0px 4px 4px;

}

.team li:first-of-type {
    margin-left: 0px;
}